.assignment .container {
    padding-bottom: 40px;
}

.assignment .assignment-heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.assignment .assignment-heading h2 {
    color: var(--text-black-900);
    font-weight: 500;
}

.assignment .assignment-item {
    flex: 0 0 24.33%;
    max-width: 31.33%;
    margin-bottom: 30px;
}

.assignment-title{
    margin-bottom: 32px;
}

.assignment .assignment-item-inner {
    border-left: 6px solid var(--skin-color);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border-bottom-right-radius: 23%;
    border-top-left-radius: 23%;
}

.assignment .assignment-item-inner::before  {
    content: "";
    position: absolute;
    width: 53px;
    height: 53px;

    border-bottom: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    bottom: 0;
    right: 0;
}

.assignment .assignment-item-inner .assignment-img img {
    width: 100%;
    display: block;
    border-bottom-right-radius: 23%;
    border-top-left-radius: 23%;
}


.assignment-nav {
    margin-top: 20px;
    text-align: center;
}

.assignment-nav li a.assignment-active {
    color: var(--skin-color);
}

.assignment-nav li{
    display: inline;
}


.assignment-nav li a {
    font-size: 24px;
    font-weight: 600;
    /*border-bottom: 1px solid var(--bg-black-50);*/
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aassignment-nav li:nth-child(1) a:active{
    color: var(--skin-color)!important;
}
.aassignment-nav li:nth-child(2) a:active{
    color: var(--skin-color)!important;
}


/*<ul class="assignment-nav">*/
/*<li><a class="" href="#"> CSS</a></li>*/
/*<li><a href="#"> POS</a></li>*/
/*<li><a href="#"> Game</a></li>*/
/*</ul>*/

.seeMore{
    background-color: var(--skin-color);
}
