/*Footer*/
footer {
    width: auto;
    margin-left: 17rem;
    text-align: center;
    background-color: var(--text-black-700);
}

footer h1.thanks_msg {
    font-size: 50px;

    margin: auto;
}

footer .wrapper {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer h3 {

}

.social-icon {
    padding-top: 20px;
    width: 400px;
}

.wrapper {
    padding: 70px 20%;
    display: flex;
    justify-content: space-between;
}

.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: var(--text-black-700);;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}
.wrapper .button:hover{
    width: 200px;
}
.wrapper .button .icon{
    /*margin: 0;*/
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
    background: #E1306C;
}
.wrapper .button:nth-child(3):hover .icon{
    background: #4267B2;
}
.wrapper .button:nth-child(4):hover .icon{
    background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
    background: #2ecc71;
}

.wrapper .button .icon i{
    margin: 0;
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
    color: #fff;
}
.wrapper .button span, .wrapper .button a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
    color: #4267B2;
}
.wrapper .button:nth-child(2) span{
    color: #E1306C;
}
.wrapper .button:nth-child(3) span{
    color: #4267B2;
}
.wrapper .button:nth-child(4) span{
    color: #333;
}
.wrapper .button:nth-child(5) span{
    color: #2ecc71;
}

@media (max-width: 1199px) {

    footer{
        width: auto;
        margin: 0;
        text-align: center;
        background-color: var(--text-black-700);
    }
}
